/*stylesheet*/

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body
{
	margin:auto;
	width:70%;
	text-align:center;
}
.all
{
	
	padding:10px;
	height:250px;
	border:5px solid red;
	margin:200px;
}
.inner
{
	background:pink;
	height:160px;
}
input[type=button]
{
	background:black;
	padding:10px;
	font-weight:bold;
	font-size:25px;
	color:white;
	margin-top:50px;
}
h1
{
	padding:5px;
}






